@use '../styles/mixins';
@use '../styles/placeholders';


.base {
    @include mixins.sizes(100%, auto, 1600px); 
    @include mixins.flex-prop(center, center, column, 30px);
    padding: 200px 8px;

    h2{
        @extend %h-lg-04;
        font-weight: 300;
        text-align: center
    }

    &-display{
        @include mixins.sizes(100%, auto);
        @include mixins.flex-prop(center, center, null, 50px);

        &-container{
            position: relative;
            @include mixins.sizes(60%, auto, 475px);
            @include mixins.flex-prop(center, center, column, 20px);

            &-img{
                @include mixins.sizes(100%, auto); 

                img{
                    @extend %fit-cover;
                }
            }

            &-text{
                @include mixins.sizes(100%, auto);
                @include mixins.flex-prop(center, center, column, 15px);

                &-title{

                    h3{
                        @extend %h-md-04;
                    }
                }

                &-description{

                    p{
                        @extend %p-sm;
                        text-align: center;
                    }
                }

                &-options{
                    @include mixins.flex-prop(center, center, null, 30px);

                    .btn, a{
                        @extend %button-lg-01;
                    }
                }
            }
        }
    }



    @include mixins.respond-to(lg){

        h2{
            font-size: 2.1em;
        }

    }


    @include mixins.respond-to(md){
        width: 90%;
        gap: 10px;
        
        h2{
            font-size: 1.8em;
        }

        &-display{
            flex-direction: column;
            width: 85%;

            &-container{
                width: 100%;
                gap: 10px;
                max-width: unset;

                &-text{
                    gap: 10px;

                    &-title{
                        
                        h3{
                            font-size: 1.5em;
                        }
                    }

                    &-description{

                        p{
                            font-size: .85em;
                        }
                    }

                    &-options{
                        gap: 10px;

                        .btn, a{
                            padding: 5px 30px;
                            font-size: .85em;
                        }
                    }
                }
            }
        }
    }


    @include mixins.respond-to(sm){
        padding: 150px 0px;

    }

}