@use '../../../styles/mixins';
@use '../../../styles/placeholders';

.modal-logOut{
    opacity: 0;
    @include mixins.flex-prop(center, center, column);
    @include mixins.sizes(100%, 100%);

    h2{
        @extend %h-md-02;
        text-align: center;
    }

    @include mixins.respond-to(md){

        h2{
            font-size: 1.45em;
        }
    }
}