@use '../../styles/mixins';
@use '../../styles/placeholders';

        .whats-new{
           padding: 8px;
           @include mixins.sizes(100%, auto); 
           @include mixins.flex-prop(space-between, center, column, 30px);
           position: relative;

           h2{
            @extend %h-lg-04;
            font-weight: 300;
            text-align: center;
           }

           &-container{
            background-color: var(--color-15);
            @include mixins.sizes(100%, 57vh, null, 600px);
            @include mixins.flex-prop(center, center);
            min-height: 600px;
            padding: 0 50px;

                &-img{
                    @include mixins.sizes(40%, 100%);
                    @include mixins.flex-prop(center, center);
                    background-color: var(--color-16);
                    img{
                        @include mixins.sizes(85%, 85%);
                        object-fit: contain;
                    }
                }

                &-text{
                @include mixins.sizes(55%, 100%);
                @include mixins.flex-prop(center, center, column, 20px);                

                .text-title{
                    @include mixins.flex-prop(center, center);

                    h3{
                        @extend %h-lg-04;                      
                        font-family: "Play";
                        text-align: center;

                        span{
                            color: var(--color-17);
                        }
                    }

                }

                .text-description{
                    @include mixins.sizes(80%, auto);

                    p{
                        @extend %p-sm-02;
                        font-weight: 400;
                    }
                }

                .text-options{
                    @include mixins.flex-prop(center, center, null, 10px);

                        button, a{
                            @extend %button-lg-01;
                             &:hover{
                                background-color: var(--color-04); 
                            }
                        }


                    }
                }
           }


           @include mixins.respond-to(xlg){

                &-container {

                    &-text {

                        .text-options {
                            button, a {
                                padding: 10px 45px;
                            }
                        }
                    }
                }
           }

            @include mixins.respond-to(lg){
                
                

                h2 {
                    font-size: 2.1em;
                }

                &-container {
                    width: 85%;
                    height: auto;
                    min-height: unset;
                    max-height: unset;
                    flex-direction: column;
                    padding: 30px 0px;
                    gap: 10px;

                    &-img{
                        width: 95%;
                        height: 60%;
                        padding: 45px 0px;

                        img{

                        }
                }

                    &-text {
                        width: 95%;
                        height: auto;
                        

                        .text-title {
                            h2 {
                                font-size: 2.1em;
                            }
                        }

                        .text-description {
                            width: 100%;

                            p {
                            font-size: .91em;
                            text-align: center;
                            }
                        }

                        .text-options {
                            button, a {
                              padding: 8px 22px;
                              font-size: .88em;
                            }
                        }
                    }
                }
           }

           
            @include mixins.respond-to(md){

                min-width: unset;
                height: auto;
                width: 100%;
                gap: 10px;

                h2 {
                   font-size: 1.8em;
                }

                &-container {
                    width: 90%;

                    &-img {
                        max-width: unset;
                        width: 95%;
                    }

                    &-text {                    
                        width: 100%;
                        padding: 0px 15px;

                        .text-title {
                            h2 {
                                font-size: 1.7em;  
                            }
                        }

                        .text-description {
                            p {
                                font-size: 1em;   
                            }
                        }

                        .text-options {
                            button, a {
                              padding: 8px 15px;
                              font-size: .95em;    
                            }
                        }
                    }
                }
            }


            @include mixins.respond-to(sm){


                h2 {
                    font-size: 1.6em;
                }

                &-container {        
                    width: 100%;            

                    &-img {
                        width: 95%;
                    }

                    &-text {
                        width: 100%;

                        .text-title {
                            h3 {
                                font-size: 2em;  
                            }
                        }

                        .text-description {
                            p {
                                font-size: .92em;      
                            }
                        }

                        .text-options {
                            flex-direction: column;

                            button, a {
                              
                              white-space: nowrap;
                              max-width: 95px;
                              overflow: hidden;
                              text-overflow: ellipsis;
                              padding: 5px 11px;
                              font-size: .9em;      
                            }
                        }
                    }
                }
            }
        }