@use '../../styles/placeholders';
@use '../../styles/mixins';

.btn{
    padding: 11px 90px;
    background-color: var(--color-03); 
    border-radius: 25px;
    border: none;
    @extend %p-sm-02;
    cursor: pointer;
    transition: .2s ease-in-out;

    &:hover{
        background-color: var(--color-04); 
    }
}